<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/a_log.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN LOGIN</title>
</head>

<body>
    <form method="post" action="/admin-login">
    <div class="glass box">
        <svg class="user-img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path fill="currentColor"
                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
        </svg>
        <div class="user">ADMIN</div>
        <input class="admin-name" type="text" placeholder="ENTER ADMIN NAME" maxlength="15" minlength="5" name="adminName" required>
        <input class="admin-id" tyep="text" placeholder="ENTER ADMIN ID" maxlength="10" minlength="7" name="adminId" required>
        <input class="password" type="password" placeholder="ENTER PASSWORD" minlength="8" name="password" required>
        <input class="login" type="submit" value="LOGIN" name="login"><br>
        <table width="100%">
            <tr>
                <td class="left"><hr color="cadetblue" width="100%"></td>
                <td>or</td>
                <td class="right"><hr color="cadetblue" width="100%"></td>
            </tr>
        </table>
        <b class="review">Dont you have an account <br><a href="/adminSignUpPage">SIGNUP</a></b>
    </div>
    </form>
</body>

</html>